<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Spin Wheel Using JS</title>
    <link href="/css/webview.css" rel="stylesheet" type="text/css">
    <link href="/css/boostrap.css" rel="stylesheet" type="text/css">

</head>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));



    window.extAsyncInit = function () {
        MessengerExtensions.getContext('3143520742541810',
            function success(thread_context) {
                // success
                console.log(thread_context)
                document.getElementById("psid").value = thread_context.psid;
            },
            function error(err) {
                // error
                console.log(err)
            }
        );
    };

</script>

<body>
    <!-- partial:index.partial.html -->
    <div class="main">
        <div id="chart"></div>
        <!-- <div id="question">
            <h1></h1>
        </div> -->

    </div>
    <input type="hidden" name="psid" id="psid" value="">
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- partial -->
    <script src="/js/webview.js"></script>
    <script src="/js/sweetalert.min.js"></script>

</body>

</html>